*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Aldo-SemiBold';
    src: url("./fonts/Aldo-SemiBold.ttf");
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f3f5fc;
    color: #0A3871;
    font-family: 'Aldo-SemiBold';
}

h1 {
    font-size: 4rem;
    height: 96px;
    line-height: 96px;
    text-align: start;
}

main {
    display: flex;
    flex-direction: column;
}

.not-found {
    display: none;
}

.input-area {
    background-color: inherit;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: 32px;
    font-weight: 400;
    height: 21dvh;
    line-height: 48px;
    margin-bottom: 16px;
    resize: none;
    width: calc(100% - 32px);

    &::placeholder {
        color: #0A3871;
        opacity: 1;
    }

    &:focus {
        outline: none;
    }
}

.warning {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: start;
    margin-bottom: 16px;
}

.warning small {
    color: #495057;
    font-size: 12px;
}

.button-container {
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 64px;
}

#encript-button,
#decript-button,
.copy {
    border: none;
    border-radius: 24px;
    font-size: 16px;
    padding: 24px;
    width: 100%;
}

#encript-button {
    background-color: #0A3871;
    color: #fff;

    &:active {
        background-color: #3d628f;
    }
}

#decript-button,
.copy {
    background-color: inherit;
    border: 1px solid #0A3871;
    color: #0A3871;

    &:active {
        background-color: hsl(225, 11%, 85%);
    }
}

#output {
    align-items: center;
    background-color: #fff;
    border-radius: 32px;
    bottom: 0;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.2);
    color: #343A40;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 0;
    padding: 32px;
}

#output h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

.sub-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 32px;
    text-align: center;
}

.converted-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.converted {
    color: #495057;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    padding: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .button-container {
        flex-direction: column;
    }

    .input-area {
        height: 25dvh;
    }

    h1 {
        margin: 0 16px;
    }

    main {
        margin: 0 16px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #output {
        gap: 33px;
        padding: 33px;
    }

    .input-area {
        min-height: 40dvh;
    }

    main {
        margin: 0 40px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main {
        flex-direction: row;
    }

    h1 {
        margin: 0;
    }

    .input-area {
        height: 70%;
        width: 81%;
    }

    .not-found {
        display: block;
        max-width: 450px;
        min-width: 200px;
    }

    main {
        display: grid;
        grid-template-columns: 5fr 1fr;
    }

    .input-area,
    .warning {
        margin-left: 200px;
    }

    .container {
        display: flex;
        justify-content: center;
        margin-left: 200px;
        margin-right: 80px;
    }

    .button-container {
        width: 100%;
    }

    #output {
        height: 90%;
        justify-content: center;
    }

    section:last-child {
        height: 100vh;
    }
}